# Supabase (https://supabase.com 에서 프로젝트 생성)
SUPABASE_URL=https://bwnkwqsjxyhrkqelmfxr.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_VblMaMzANUFgdv5KHPG04A_qk3RJxmD

# 서버
PORT=3001
NODE_ENV=development
